{% extends "layout.html" %}
{% block content %}
  <div class="container" >
    <h3 id="myMessage"> Khan Academy Coding Challenge</h3> 

    <div id="">

      <input type="submit" id="view_database" value="View Database" onclick="">


      <form action="">
        Number of entries to generate:
        <input type="text" id="num_entries_to_create" value="100"><br>
        <input type="submit" id="populate_database" value="Populate Database" onclick="">
      </form>
      
      <div id="count_result"></div>
      <div id="user_result"></div>


      <p id="wait">wait</p>
    </div>
  </div>

{% endblock %}